In [1]:
# set root directory
import os

os.chdir('../')
os.getcwd()

'c:\\Users\\HP\\Desktop\\clustering-moroccan-weather-data'

In [2]:
# imports
import numpy as np
import pandas as pd

In [3]:
# imports for plots
from plotly import graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio

pio.templates.default = "plotly_white"

In [4]:
# load moroccan cities data
moroccan_cities = pd.read_csv("processed_data/moroccan_cities.csv")

In [5]:
moroccan_cities

         lat      lon                   city_name
0    33.5992  -7.6200                  Casablanca
1    32.0500  -7.4000        El Kelaa des Srarhna
2    34.0433  -5.0033                         Fes
3    34.0253  -6.8361                       Rabat
4    26.0928 -10.6089                    Tifariti
..       ...      ...                         ...
693  30.6142  -5.5223                 Ait Athmane
694  29.1228  -9.5992              Timoulay Izder
695  35.6519  -5.7328                    Ez Zinat
696  30.6450  -5.8386                   Tafetchna
697  32.8938  -6.2450  Souk el Had-des Beni-Batao

[698 rows x 3 columns]

In [6]:
# general params
col_name = "cumulative_PRECTOT"
nb_crop_years = 39

In [7]:
# # import modules
# from py_scripts.fetch import LocationWeather
# from py_scripts.process import process_data
# from py_scripts.clustering import multivariate_clustering

# # test for 3 cities
# for i in range(308, 416):
#     lat = moroccan_cities["lat"][i]
#     lon = moroccan_cities["lon"][i]
#     city_name = moroccan_cities["city_name"][i]

#     # fetch and process data
#     raw_data = LocationWeather(lat, lon).weather_data_frame
#     processed_data = process_data(raw_data)

#     # cluster data
#     dict_clusters = multivariate_clustering(processed_data)

#     # prepare data frame
#     rg = range(nb_crop_years)
#     df_location = pd.DataFrame(
#         { 
#             "lat": [lat for i in rg],
#             "lon": [lon for i in rg],
#             "city_name": [city_name for i in rg] 
#         }
#     )

#     # form year and cluster cols
#     dict_year_cluster = { "year": [], "cluster": [] }
#     for cluster_name, cluster_years in dict_clusters.items():
#         dict_year_cluster["year"] += list(cluster_years)
#         dict_year_cluster["cluster"] += [cluster_name for i in range(len(cluster_years))]

#     # add them cols to df
#     df_location = df_location.join(pd.DataFrame(dict_year_cluster))

#     # save df
#     df_location.to_csv(f"data_multi_cluster_morocco/{city_name}.csv", index=False)